div, button, img {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    font-family: ASO-r;
    /*background-color: white !important;*/
}

h1 {
	color: rgb(250, 250, 250); 
	background-color: rgb(200, 200, 200);
	border-radius: 15px 50px 30px;
    background: #8AC007;
    padding: 25px; 
    width: 200px;
    height: 80px;
    font-family: Lucida;
    position: absolute;
    top: 600px;
    opacity: 0;
}

html, body {
    /*background-color: rgb(18,15,24);*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /*align-items: center;*/
    /*justify-content: space-around;*/
    flex-direction: row;


    background-color: #fbf1e3;
    width: 100%;
    min-width: 900px;
    height: 100%;
}

#gameboard {
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    order: 3;

    width: 60%;
    height: 95%;
    margin-left: 5%;

/*    border-width: 1px;
    border-style: solid;
    border-color: black;*/
}

#resetBgr {
    position: absolute;
    width: 100%;
    height: 100%;

    justify-content: center;
    z-index: -1;
}

#resetCont {
    position: relative;

    top: 65%;
    width: 30%;
    height: 20%;
}


#resetgame {
    width: 100%;
    height: 100%;

    font-size: 18pt;
    border-radius: 25px;
    opacity: 0;
    background-color: #faebd7;
    padding: 20px;
}

#answerRack {
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    order: 1;

    position: absolute;
    bottom: 10px;

    padding: 0px 30px;
    height: 100px;
    min-width: 200px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    
    font-size: 25pt;
    color: black;

    border-width: 1px;
    border-style: solid;
    border-color: black;

}

.AR {}

#answerRack0 {

    /*top: 200px;*/
    /*left: 60px;*/
    /*font-size: 25pt*/
}

#answerRack1 {}
#answerRack2 {}
#answerRack3 {}
#answerRack4 {}
#answerRack5 {}
#answerRack6 {}
#answerRack7 {}

#bg1 {
    background-color: white;
    border-color: black;

    width: 70%;
    height: 30%;
    top: 5%;
    left: 5%;
}

.buttonClass {
    background-color: #bdbdbd;
    font-size: 200%;
    width: 9%;
    min-width: 50px;
    z-index: 100;
    border-radius: 5px;
    padding: 3px;
    margin: 12px 8px 1px 1px;
    color: rgb(142,130,168);

    align-content: center;
    justify-content: center;
}

#buttonContainer {
    /*background-color: white;*/
    width: 90%;
    min-width: 480px;
    padding: 2%;

    order: 2;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-self: center;
/*    border-width: 1px;
    border-style: solid;
    border-color: black;*/
}

#congratulationScreen {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    z-index: 180;
    display: none;
    overflow: hidden;

    justify-content: center;
}

#failureScreen {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;

    z-index: 150;
    display: none;
    overflow: hidden;

    justify-content: center;

    z-index: 180;
}

.show {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
}


#balloons {
    position: relative;
    width: 50%;
    height: 50%;
    min-height: 400px;
    background-image: url(assets/jim1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: top 2s; /* Safari */
    transition: top 2s;
    top: -50%;

}

#thumbsDown {
    position: relative;
    width: 70%;

    max-width: 500px;
    height: 50%;
    background-image: url(assets/ceasar.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    -webkit-transition: all 2s; /* Safari */
    transition: all 2s;
    z-index: 200;
    top: -50%;
}

#WGR_wrap {
    position: relative;
    top: 5px;
    right: 0.5%;
    width: 25%;
    min-width: 295px;
    height: 30%;
    margin-left: 10px;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    order: 4;
/*    border-width: 1px;
    border-style: solid;
    border-color: black;*/
    text-align: center;
}

/*bin*/
#wrongguessrack {
    position: relative;
    z-index: 120;
    color: black;
    font-size: 20pt;
    background-repeat: no-repeat;
    background-size: 243px;
    background-position: center;
    width: 122px;
    height: 80%;
    min-height: 185px;

    justify-content: center;
    align-items: center;
}

#wrongguesses {
    position: relative;
    width: 94px;
    height: 145px;
    /*background-color: rgb(190, 220, 230)*/
    color: red;
    /*opacity: 0.5;*/
    font-size: 20pt;
    /*font-family: arial;*/
    z-index: 120;

    flex-wrap: wrap;
    /*justify-content: flex-end;*/
    align-items: flex-end;
}

#lifeCntr {
    flex-direction: row;
    align-items:center;
    align-content: center;
    flex-wrap: nowrap;

    position: relative;
    width: 100%;
    width: 290px;
    padding: 5px 0px;
    z-index: 100;

    justify-content: space-around;

    font-size: 20pt;
    color: black;
/*    border-width: 1px;
    border-style: solid;
    border-color: black;*/
}

.lifeTxt {
}

#gallows {
    position: relative;
    width: 400px; 
    height: 500px;
    left: 5%;
/*    border-width: 1px;
    border-style: solid;
    border-color: black;*/
}

.condemned {
    position: absolute;
    opacity: 0;
    z-index: 180;
    background-repeat: no-repeat;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
    background-size: contain;
}

#condemned0 {
    background-image: url(assets/stand_base.png);
    width: 264px;
    height: 34px;
    top: 325px;
    left: -100%;
}

#condemned1 {
    background-image: url(assets/frame_stand.png);
    width: 48px;
    height: 300px;
    top: 0%;
    left: -100%;
}

#condemned2 {
    background-image: url(assets/frame_top.png);
    width: 103px;
    height: 20px;
    top: -280px;
    left: -50%;
}

#condemned3 {
    background-image: url(assets/rope.png);
    width: 34px;
    height: 73px;
    top: -300px;
    left: -50%;
}

#condemned4 {
    background-image: url(assets/head.png);
    width: 60px;
    height: 49px;
    top: 28.5%;
    left: 100%;
}

#condemned5 {
    background-image: url(assets/body.png);
    height: 70px;
    width: 100px;
    top: 39.8%;
    left: 100%;
}

#condemned6 {
    background-image: url(assets/arm_left.png);
    height: 30px;
    width: 68px;
    top: 22%;
    left: 100%;
}

#condemned7 {
    background-image: url(assets/arm_right.png);
    height: 35px;
    width: 65px;
    top: 9.5%;
    left: 100%;
}

#condemned8 {
    background-image: url(assets/leg_right.png);
    height: 50px;
    width: 79px;
    top: 90px;
    left: 100%;
}

#condemned9 {
    background-image: url(assets/leg_left.png);
    height: 90px;
    width: 39px;
    top: 11.2%;
    left: 100%;
}

#bin {
    position: relative;
    height: 200px;
    background-size: contain;
}