h1 {
	color: rgb(250, 250, 250); 
	background-color: rgb(200, 200, 200);
	border-radius: 15px 50px 30px;
    background: #8AC007;
    padding: 25px; 
    width: 200px;
    height: 80px;
    font-family: Lucida;
    position: absolute;
    top: 600px;
    opacity: 0;
}

html, body {
    /*background-color: rgb(18,15,24);*/
    background-color: green;
    width: 100%;
    height: 100%;
}

#gameboard {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    background-color: red;
    width: 80%;
    height: 60%;
}

#resetgame {

    top: 300px;
    left: 200px;
    font-size: 18pt;
    font-family: arial;
    border-radius: 25px;
    opacity: 0;
    background-color: yellow;
    padding: 20px;
    z-index: 155;
}

#answerRack {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    order: 1;

    margin: 3%;
    height: 94%;
    min-width: 200px;

    background-color: rgba(255,80,90,0.3);
    font-size: 25pt;
    color: black;
}

.AR {}

#answerRack0 {

    /*top: 200px;*/
    /*left: 60px;*/
    /*font-size: 25pt*/
}

#answerRack1 {}
#answerRack2 {}
#answerRack3 {}
#answerRack4 {}
#answerRack5 {}
#answerRack6 {}
#answerRack7 {}

#lives1 {
    position: absolute;
    top: 90%;
    left: 45%;
    font-size: 30pt;
    color: black;
    font-family: Palatino Linotype;

}

#lives {

    top: 90%;
    left: 54.5%;
    font-size: 30pt;
    color: black;
    font-family: Palatino Linotype;
    /*z-index: 10;*/
}

#bg1 {
    background-color: white;
    border-color: black;

    width: 70%;
    height: 30%;
    top: 5%;
    left: 5%;
}

.buttonClass {
    background-color: white;
    font-size: 200%;
    width: 9%;
    z-index: 100;
    border-radius: 5px;
    padding-top: 12px;
    margin: 12px 8px 1px 1px;
    font-family: Lucida Sans Unicode;
    opacity: 0;
    color: black;
    min-width: 40px;
}

#buttonContainer {
    background-color: white;
    width: 70%;
    min-width: 400px;
    padding: 15px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    order: 2;
    flex-wrap: wrap;
}

#congratulationScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 150;
    display: none;
    overflow: hidden;
}

#failureScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 150;
    display: none;
    overflow: hidden;
}


#balloons {
    position: absolute;
    width: 400px;
    height: 300px;
    top: 200%;
    left : 10%;
    background-image: url(assets/jim1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: top 2s; /* Safari */
    transition: top 2s;
}

#thumbsDown {
    position: absolute;
    width: 30%;
    height: 300px;
    top: 200%;
    /*left : 100px;*/
    left : 10%;
    background-image: url(assets/ceasar.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    /*background-color: red;*/
    -webkit-transition: top 2s; /* Safari */
    transition: top 2s;
}

#wrongguessrack {

    width: 25%;
    height: 5%;
    top: 47%;
    left: 30%;
    background-color: rgb(190, 220, 230);
    color: white;
    /*text-decoration: line-through;*/
    font-size: 20pt;
    font-family: arial;
    z-index: 120;
}

#wrongguesses {

    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: rgb(190, 220, 230)
    color: white;
    /*text-decoration: line-through;*/
    font-size: 20pt;
    font-family: arial;
    z-index: 120;
}

#bigredx {

    background-size: 100% 100%;
    background-image: url(assets/big_red_x.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 121;
    opacity: 0.6;

}

#therack {
    width: 400px; 
    height: 400px;
    top: 10%;
    left: 5%;

    background-color: orange;
}

.condemned {
    position: absolute;
    opacity: 0;
    z-index: 180;
    background-repeat: no-repeat;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
    background-size: contain;
}

#condemned0 {
    background-image: url(assets/stand_base.png);
    width: 264px;
    height: 34px;
    top: 325px;
    left: -100%;
}

#condemned1 {
    background-image: url(assets/frame_stand.png);
    width: 48px;
    height: 297px;
    top: 0%;
    left: -100%;
}

#condemned2 {
    background-image: url(assets/frame_top.png);
    width: 103px;
    height: 20px;
    top: -280px;
    left: -50%;
}

#condemned3 {
    background-image: url(assets/rope.png);
    width: 34px;
    height: 73px;
    top: -300px;
    left: -50%;
}

#condemned4 {
    background-image: url(assets/head.png);
    width: 60px;
    height: 49px;
    top: 28.5%;
    left: 100%;
}

#condemned5 {
    background-image: url(assets/body.png);
    height: 70px;
    width: 100px;
    top: 39.8%;
    left: 100%;
}

#condemned6 {
    background-image: url(assets/arm_left.png);
    height: 30px;
    top: 22%;
    left: 100%;
}

#condemned7 {
    background-image: url(assets/arm_right.png);
    height: 35px;
    top: 9.5%;
    left: 100%;
}

#condemned8 {
    background-image: url(assets/leg_right.png);
    height: 50px;
    top: 90px;
    left: 100%;
}

#condemned9 {
    background-image: url(assets/leg_left.png);
    height: 90px;
    top: 11.2%;
    left: 100%;
}

#cover {

    background-color: darkblue;
    height: 100%;
    width: 800px;
    top: 0px;
    left: 70%;
    z-index: 183;
    opacity: 0.5;
    display: none;

}